ion-modal.auto-height {
  --height: auto;
  --width: auto;
}

ion-modal.auto-height .ion-page {
  position: relative;
  display: block;
  contain: content;
  padding: 26px;
}

ion-modal.auto-height .inner-content {
  max-height: 80vh;
  overflow: auto;
  padding: 10px;
}

ion-modal.auto-height ion-button {
  margin: 8px;
}

.item_count {
  text-align: left;
}

.container {
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  transform: none;
}

.container strong {
  font-size: 26px;
  line-height: 50px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
}

.uploadFile{
  width: 200px;
  margin-left: 42%;
  margin-top: 20px;
}

.pageTitle{
  font-size: 1.6em;
  padding-bottom: 0.4em;
}

.documentContent {
  border-radius: 0.5rem;
  border-style: solid;
  border-width: thin;
  border-color:	#D3D3D3;
  font-size: 1.3em;
  padding: 2em;
  padding-left: 5%;
  padding-right: 5%;
  margin: 1em;
  padding-bottom: 2em;
  background-color: #F5F5F5;
  text-align: left;
}

.title{
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
}

.item-complex .item-content, .item{
  background-color: #F5F5F5;
}

.list-md {
  BOX-SHADOW: 0 0 black;
  margin: 0;
  padding: 0;
  margin: 40px;
}

.sc-ion-label-md-s h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.sc-ion-label-md-s h3{
  text-align: center;
  font-size: 1.4em;
}

.item-complex .item-content, .item {
  background-color: #F5F5F5;
}

.labelContainer{
  text-align: center;
  margin: 50px;
}

.commentsTitle{
  text-align: left;
  margin: 1em;
}

.promptMessage{
  opacity: 0.8;
  color: crimson;
}