.login-container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
}

.login-container strong {
  font-size: 20px;
  line-height: 26px;
}

.login-container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.login-container a {
  text-decoration: none;
}

.center {
  margin: auto;
  text-align: center;
  width: 20%;
  border: 2px solid lightgray;
  padding: 5px;
  position: relative;
  top: 80%;
}
